@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-Medium.eot");
    src:
        local("../assets/fonts/TT Lakes Medium"),
        local("../assets/fonts/TTLakes-Medium"),
        url("../assets/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/TTLakes-Medium.woff") format("woff"),
        url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-Bold.eot");
    src:
        local("../assets/fonts/TT Lakes Bold"),
        local("../assets/fonts/TTLakes-Bold"),
        url("../assets/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
        url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../assets/fonts/TTLakes-DemiBold.eot");
    src:
        local("../assets/fonts/TT Lakes DemiBold"),
        local("../assets/fonts/TTLakes-DemiBold"),
        url("../assets/fonts/TTLakes-DemiBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/TTLakes-DemiBold.woff") format("woff"),
        url("../assets/fonts/TTLakes-DemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

$mainColor: #f8f8f8;
$headColorMobile: linear-gradient(270deg, #fff 0%, #f8f8f8 98.61%);
$cardColor: #ffffff;
$textColor: #7e7e82;
$expandColor: #1b1c21;
$headerBorder: 1px solid #d9fff5;
$cardBorder: 1px solid #eaeaea;

@mixin clearfix {
    display: none !important;
    visibility: hidden !important;
    position: fixed !important;
    transform: scale(0) !important;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin text {
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@media (max-width: 767.5px) {
    .expand {
        @include clearfix;
    }
}
@media (min-width: 768px) {
    .card__link--hidden {
        @include clearfix;
    }
}

.container {
    max-width: 1120px !important;
    display: flex;
    flex-direction: column;
    &__header {
        padding: 16px;
        @media (min-width: 768px) and (max-width: 1119.5px) {
            padding-left: 24px;
        }
        @media (min-width: 1120px) {
            padding-left: 32px;
        }
    }
    &__card {
        max-width: 1120px;
        height: 100vh;
        background: $mainColor;
    }
    &__expand {
        padding-bottom: 34px;
        padding-left: 16px;
        background: $mainColor;
        @media (min-width: 1120px) {
            padding-left: 24px;
        }
    }
}

.header {
    border-top: $headerBorder;
    background: $headColorMobile;
    &__title {
        margin: auto;
        @include text;
        text-transform: uppercase;
        color: $textColor;
        white-space: pre-wrap;
    }
}
.card {
    &__list {
        margin: 16px;
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        @media (min-width: 768px) {
            margin: 24px;
            column-gap: 24px;
            row-gap: 16px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        @media (min-width: 1120px) {
            margin-left: 32px;
            column-gap: 32px;
        }
    }
    &__link {
        max-width: 240px;
        max-height: 72px;
        border-radius: 6px;
        @media (min-width: 768px) and (max-width: 1119.5px) {
            max-width: 224px;
        }
    }
    &__link:last-child {
        margin-right: 32px;
    }
    &__element {
        width: 240px;
        height: 72px;
        padding: 16px;
        @include flex;
        justify-content: space-between;
        border-radius: 6px;
        border: $cardBorder;
        background: $cardColor;
        @media (min-width: 768px) and (max-width: 1119.5px) {
            max-width: 224px;
        }
    }
    &__rotate {
        margin-bottom: 25px;
    }
}

.swiper {
    width: 100vw;
    height: 155px;
    @media (min-width: 768px) {
        height: fit-content;
    }
    &-wrapper {
        @media (min-width: 768px) {
            width: auto !important;
        }
    }
    &-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        margin-right: 8px !important;
        background-color: #dddddd !important;
    }
    &-pagination-bullet-active {
        background-color: #b5b6bc !important;
    }
}

.expand {
    &__button {
        padding: 5px 8px 3px 2px;
        display: flex;
        border: none;
        background: transparent;
        gap: 9px;
        cursor: pointer;
    }
    &__text {
        @include text;
        font-weight: 500;
        border: none;
    }
}
